.logo__layout {
    width: 180px;
    height: 32px;
    cursor: pointer;
    align-items: center;
    align-content: center;
}

.container__icon__drawer {
    padding: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__logo__drawer {
    width: 150px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.container__buttons {
    margin-bottom: 3px;
    padding: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layout__footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.container__datatable__users {
    margin-top: 15px;
    padding-top: 10px;
}