.logo__layout {
    width: 180px;
    height: 32px;
}

.container__icon__drawer {
    padding: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__logo__drawer {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}

.layout__footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.container__datatable__users {
    margin-top: 75px;
    padding-top: 10px;
}